body {
    margin: 0%;
    padding: 0%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Customize */

    /* background-image: url("path/to/image") */
    background-image: url("images/01.jpg");
    background-position:center;
    /* color: your color */
    color: rgb(150, 138, 161);

    /* font-family: 'your font' */
    font-family: 'Fira Code';
}

.content {
    background: rgba(24, 21, 34, 0.7);
    backdrop-filter: blur(3px);
    border-radius: 20px; 
}

#greeting{
    margin-top: 2vw;
    font-size: 2vw;
    text-align: center;
}
#greeting-bottom{
    margin-top: 1vw;
    font-size: 1.5vw;
    text-align: center;
    font-style: oblique;
}

#time {
    margin-left: 2vw;
    margin-right: 2vw;
    font-size: 10vw;
    font-weight: bold;
    text-align: center;
    font-family: 'Fira Code';
}

#bookmarks {
    margin-top: 0;
    padding: 0%;
    margin-bottom: 2vw;
    list-style-type: none;
    text-align: center;
}

#bookmarks li {
    display: inline-block;
    transition: 0.3s;
}

#bookmarks li:hover {
    transform: scale(1.2);
}

#bookmarks img {
    width: 3vw;
}
