;; ┌────────────────────────────────────────────────────────────┐
;; │░█▀█░█▀█░█░░░█░█░█▀▄░█▀█░█▀▄░░░░░░░░░█▀▀░█▀█░█▀█░█▀▀░▀█▀░█▀▀│
;; │░█▀▀░█░█░█░░░░█░░█▀▄░█▀█░█▀▄░░░░▀░░░░█░░░█░█░█░█░█▀▀░░█░░█░█│
;; │░▀░░░▀▀▀░▀▀▀░░▀░░▀▀░░▀░▀░▀░▀░░░░▀░░░░▀▀▀░▀▀▀░▀░▀░▀░░░▀▀▀░▀▀▀│
;; └────────────────────────────────────────────────────────────┘

;; File Inclusion

include-file = $HOME/.config/polybar/polybar.colors
include-file = $HOME/.config/polybar/polybar.modules


[bar/main]
width = 100%
height = 24pt
radius = 2
monitor = ${env:MONITOR:}
offset-x = 15
offset-y = 4
fixed-center = true
bottom = false
background = ${color.background}
foreground = ${color.foreground}
padding-left = 1
padding-right = 2
module-margin-left = 0
module-margin-right = 0
font-0 = "Iosevka Nerd Font:size=12;3"
font-1 = "Roboto:size=11:weight=bold;3"
font-2 = "Noto Sans:size=11;3"
font-3 = "FontAwesome:size=10;3"
font-4 = "Feather:size=8;3"
modules-left = launcher ewmh
modules-right = arch-updates pulseaudio cpu-graph mem bluetooth network date powermenu
border-bottom-size = 0
cursor-click = pointer
cursor-scroll = ns-resize
tray-position = none
separator =" | "

[settings]
screenchange-reload = true
compositing-background = source
compositing-foreground = over
compositing-overline = over
compositing-underline = over
compositing-border = over
pseudo-transparency = true

[global/wm]
margin-top = 0
margin-bottom = 0
